
@{
    ViewBag.Title = "الصفحة الرئيسية ";
    Layout = "~/Views/Shared/UserAdminLayout.cshtml";
}

<div class="form-group">
    <h1 style="font-weight:bold">
        كيف تقلل من احتمالات الإصابة بالسرطان؟ هناك الكثير من النصائح،
    </h1>
    <br>
    <p>
        1. تجنب استخدام التبغ
        رُبِط التدخين بأنواع عديدة من السرطان، ويشمل ذلك سرطان الرئة والفم والحلق والحنجرة والبنكرياس والمثانة وعنق الرحم والكُلى. وقد يؤدي التعرض للتدخين السلبي إلى زيادة خطر الإصابة بسرطان الرئة.

        لكن ليس التدخين هو العامل الوحيد المضّر بالصحة. فلقد ارتبط مضغ التبغ بسرطان تجويف الفم والحلق والبنكرياس.

        يُعَد تجنُّب التبغ -أو اتخاذ قرار بالتوقف عن تعاطيه- جزءًا مهمًّا من الوقاية من السرطان. للمساعدة في الإقلاع عن التبغ، اسأل طبيبك عن منتجات الإقلاع عن التدخين وطرق الإقلاع الأخرى.
    </p>
    <br>
    <p>
        2. اتباع نظام غذائي مفيد لصحتك
        على الرغم أن تناوُل الطعام الصحي لا يضمَن الوقاية من السرطان، فإنه قد يحدُّ من ذلك الخطر. ينبغي مراعاة الإرشادات التالية:
    </p>
    <br>

    <p>
        تناول كمية كبيرة من الفواكه والخضروات. ركّز في نظامك الغذائي على الفواكه والخضروات والأطعمة الأخرى نباتية المصدر مثل الحبوب الكاملة والبقوليات. وتناول أطعمة أخف وأقل دسمًا من خلال الابتعاد عن الأطعمة عالية السعرات الحرارية، بما في ذلك السُّكريات المُكررة والدهون ذات المصادر الحيوانية.
    </p> <br>

         <p>
             قلل من شُرب الكحوليات، ويُفضل ألا تشربها على الإطلاق. ذلك لأن الكحول يزيد من خطورة الإصابة بأنواع مختلفة من السرطان، مثل سرطان الثدي والقولون والرئة والكلى والكبد، وتزداد هذه الخطورة كلما ازداد شُرب الكحوليات.
         </p>
</div>