
@{
    ViewBag.Title = "الأمراض ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
    <div class="card-header">

        <div class="row">
            <h3 class="col"> الامراض  المسجلة سابقاً </h3>
            <p class="col-auto">
                <a href='/Admin/ADD_Desece' class='btn btn-soft-primary  waves-effect waves-light px-4'><i class="fas fa-plus me-3"></i> إنشاء جديد</a>
            </p>
        </div>
    </div>
    <div class="row">
        @foreach (var item in ViewBag.Desece)
        {
            <div class="col-lg-4">
                <div class="card-body">

                    <div class="card">

                        @if (item.ImageLink != null)
                        {
                            <img src="@item.ImageLink" class="card-img-top" alt="..." style="height:230px">

                        }
                        else
                        {
                            <img src="~/AdminAssets/images/noimage.jpg" class="card-img-top" alt="..." style="height:230px">

                        }

                        <div class="card-body">
                            <h5 class="card-title">@item.name  </h5>
                            <p class="card-text"></p>
                            <div style="text-align:left">
                                <a href="/Edit/ClassEdit/@item.id" title='تعديل' class='btn btn-soft-success  waves-effect waves-light p-2'><i class="fas fa-edit"></i></a>  &nbsp; &nbsp;
                                <a href='/Delete/DeleteClass/@item.id' title='حذف' onclick="return deleteCheck(this);" class='btn btn-soft-danger   waves-effect waves-light p-2' onclick="return deleteCheck(this)"><i class="fas fa-trash"></i></a>
                            </div>

                        </div>
                    </div>
                    @*<a href="~/Views/Edit/ClassEdit.cshtml">~/Views/Edit/ClassEdit.cshtml</a>*@
                </div>
            </div>
        }

    </div>








</div>


